.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 12rem;
  min-height: calc(100vh - 22rem);
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .main {
    padding: 4rem;
    padding-top: 7rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
