.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.image {
  position: relative;
  height: 300px;
  object-fit: cover;
}

.imageHidden {
  opacity: 0;
  transition: opacity 2s;
}
.imageLogo {
  z-index: 1;
  transition: opacity 2s;
  margin-bottom: 2rem;
}

.imageText {
  z-index: 1;
  transition: opacity 2s;
}

.scollText {
  font-family: var(--font-raleway);
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
  color:rgb(200, 200, 175);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  max-width: var(--max-width);
  border-top-width: 1px;
  border-top-color: var(--primary);
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--primary);
  border-bottom-style: solid;
  padding: 25px 100px;
  margin-bottom: 6rem;
  margin-top: 6rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-antic-slab);
}

.membershipContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: rgba(122, 88, 49, 1);
  background:linear-gradient(to top right, rgb(107, 76, 41), rgba(122, 88, 49, 0.9), rgba(107, 76, 41, 1));
  color: rgb(255,231,186);
}

.membershipContainer p {
  padding: 2rem;
  font-family: var(--font-raleway);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  height: 100%;
}

.membershipContainer p:after {
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(var(--background-start-rgb));
  content: '';
  display: block;
  width: 15%;
}

.cloudImage {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cloudImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/clouds.jpg');
  background-repeat: repeat;
  background-size: contain;
  opacity: 1;
  z-index: -1; /* Set the z-index to position the background layer behind the content */
}

.membershipButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
  padding: .75rem;
  border: 1px solid #f4d16d;
  color: #fef493;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.membershipCountryClub {
  display: block; 
  position: relative;
  font-size: 1.2rem;
  align-self: flex-start;
  font-weight: 200;
  right: 0px;
  width: 100%;
  transition: right 2s;
  color: #f4d16d;
}

.belong {
  display: block; 
  position: relative;
  font-size: 2.3rem;
  font-weight: 300;
  margin-top: 2rem;
  left: 0px;
  width: 100%;
  color: rgb(var(--background-start-rgb));
  transition: left 2s;
}

.membershipImages {
  display: flex;
  width: 100%;
  height: 324px;
}

.membershipImage {
  width: 33.33%;
  height: 100%;
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 575px) {
  .membershipImages {
    flex-direction: column;
    height: 700px;
  }

  .membershipImage {
    object-fit: cover;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .main {
    padding: 2rem;
  }

  .content {
    padding: 4rem;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .imageLogo {
    margin-top: 0rem;
    margin-bottom: 6rem;
  }

  .imageText {
    display: none;
  }

  .descriptionContainer {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .descriptionContainer a {
    padding: 1rem;
  }

  .descriptionContainer p,
  .descriptionContainer div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .descriptionContainer p {
    align-items: center;
    padding: 3rem;
    border-radius: 0;
    border: none;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .descriptionContainer div {
    align-items: flex-end;
    pointer-events: none;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .membershipCountryClub {
    white-space: nowrap;
  }

  .belong {
    white-space: nowrap;
  }
  .membershipButton {
    padding: .25rem;
    margin: 1rem;
  }
}

