.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.image {
  object-fit: cover;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.image {
  position: relative;
  display: flex;
  height: 300px;
}

.imageHidden {
  opacity: 0;
  transition: opacity 2s;
}
.imageLogo {
  z-index: 1;
  margin-top: 15rem;
  transition: opacity 2s;
}
.imageText {
  z-index: 1;
  margin-top: 5rem;
  transition: opacity 2s;
}
.scollText {
  font-family: var(--font-raleway);
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
  color:rgb(200, 200, 175);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  min-height: 75vh;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-antic-slab);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }

  .imageContainer {
    justify-content: center;
  }
  .imageLogo {
    margin-top: 0rem;
    margin-bottom: 6rem;
  }

  .imageText {
    display: none;
  }

  .imageText {
    display: none;
  }

  .description {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .description p {
    align-items: center;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
