.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.image {
  position: relative;
  display: flex;
  height: 300px;
  object-fit: cover;
}

.imageHidden {
  opacity: 0;
  transition: opacity 2s;
}
.imageLogo {
  z-index: 1;
  margin-top: 15rem;
  transition: opacity 2s;
}
.imageText {
  z-index: 1;
  margin-top: 5rem;
  transition: opacity 2s;
}
.scollText {
  font-family: var(--font-raleway);
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
  color:rgb(200, 200, 175);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  max-width: var(--max-width);
  border-top-width: 1px;
  border-top-color: var(--primary);
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--primary);
  border-bottom-style: solid;
  padding: 25px 100px;
  margin-bottom: 6rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-antic-slab);
}


.membershipContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: rgb(122, 88, 49);
  color: rgb(255,231,186);
}

.membershipImages {
  display: flex;
  width: 100%;
  height: 324px;
}

.membershipImage {
  width: 33.33%;
  height: 100%;
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 575px) {
  .membershipImages {
    flex-direction: column;
    height: 700px;
  }

  .membershipImage {
    object-fit: cover;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .main {
    padding: 2rem;
  }

  .content {
    padding: 4rem;
  }

  .imageContainer {
    justify-content: center;
  }

  .imageLogo {
    margin-top: 0rem;
    margin-bottom: 6rem;
  }

  .imageText {
    display: none;
  }

  .descriptionContainer {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 2rem;
  }

  .descriptionContainer a {
    padding: 1rem;
  }

  .descriptionContainer p,
  .descriptionContainer div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .descriptionContainer p {
    align-items: center;
    padding: 3rem;
    border-radius: 0;
    border: none;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .descriptionContainer div {
    align-items: flex-end;
    pointer-events: none;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

